In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data.csv",encoding="ISO-8859-1")
data.shape

FileNotFoundError: [Errno 2] File b'data.csv' does not exist: b'data.csv'

In [3]:
data.columns

Index(['stn_code', 'sampling_date', 'state', 'location', 'agency', 'type',
       'so2', 'no2', 'rspm', 'spm', 'location_monitoring_station', 'pm2_5',
       'date'],
      dtype='object')

In [4]:
data.head()

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [5]:
#preprocessing the data
#here we are going to keep only the needed columns
#ie removing stn_code,agency,location_monitoring_station,pm2_5
data = data[['sampling_date','state','location','so2','no2','date']]

In [6]:
#removing any rows with NaN type od date
data = data.dropna()

In [7]:
#checking the size of the dataset
data.shape

(399093, 6)

In [8]:
#function for calculating the AQI base on the concentration of SO2
def AQIForSO2(so2):
    if(0<=so2 and so2<=40):
        I = ((50*so2)/(40))
    elif(41<=so2 and so2<=80):
        I = (((100-51)*(so2-41))/(80-41))+51
    elif(81<=so2 and so2<=380):
        I = (((200-101)*(so2-81))/(380-81))+101
    elif(381<=so2 and so2<=800):
        I = (((300-201)*(so2-381))/(800-381))+201
    elif(801<=so2 and so2<=1600):
        I = (((400-301)*(so2-801))/(1600-801))+301
    else:
        I = (((500-401)*(so2-1600))/(1600))+401
    return I

In [9]:
#including SI column in dataset
data['si']=data['so2'].apply(AQIForSO2)
df= data[['so2','si']]
df.head()

   so2     si
0  4.8  6.000
1  3.1  3.875
2  6.2  7.750
3  6.3  7.875
4  4.7  5.875

In [10]:
AQIForSO2(6.3)

7.875

In [11]:
#function for calculating the AQI base on the concentration of SO2
def AQIForNO2(no2):
    if(0<=no2 and no2<=40):
        NI = ((50*no2)/(40))
    elif(41<=no2 and no2<=80):
        NI = (((100-51)*(no2-41))/(80-41))+51
    elif(81<=no2 and no2<=180):
        NI = (((200-101)*(no2-81))/(180-81))+101
    elif(181<=no2 and no2<=280):
        NI = (((300-201)*(no2-181))/(280-181))+201
    elif(281<=no2 and no2<=400):
        NI = (((400-301)*(no2-281))/(400-281))+301
    else:
        NI = (((500-401)*(no2-400))/(400))+401
    return NI

In [12]:
#including NI in dataset
data['ni']=data['no2'].apply(AQIForNO2)
df= data[['no2','ni']]
df.head()

    no2      ni
0  17.4  21.750
1   7.0   8.750
2  28.5  35.625
3  14.7  18.375
4   7.5   9.375

In [13]:
AQIForNO2(28.5)

35.625

In [16]:
#keeping the highest (NI or SI) for AQI of the place
def chooseAQI(si,ni):
    aqi=ni
    if(si>ni):
        aqi=si
    return aqi

In [17]:
data['AQI']=data.apply(lambda x:chooseAQI(x['si'],x['ni']),axis=1)
df= data[['sampling_date','state','si','ni','AQI']]
df.head()

        sampling_date           state     si      ni     AQI
0  February - M021990  Andhra Pradesh  6.000  21.750  21.750
1  February - M021990  Andhra Pradesh  3.875   8.750   8.750
2  February - M021990  Andhra Pradesh  7.750  35.625  35.625
3     March - M031990  Andhra Pradesh  7.875  18.375  18.375
4     March - M031990  Andhra Pradesh  5.875   9.375   9.375

In [18]:
df.tail()

       sampling_date        state     si         ni        AQI
435734      15-12-15  West Bengal  25.00  54.769231  54.769231
435735      18-12-15  West Bengal  21.25  54.769231  54.769231
435736      21-12-15  West Bengal  22.50  56.025641  56.025641
435737      24-12-15  West Bengal  27.50  62.307692  62.307692
435738      29-12-15  West Bengal  25.00  57.282051  57.282051